PLATFORM_HETZNER_TOKEN=
NETBIRD_EXISTING_SERVER_NAME=openbao-platform-prod-openbao
NETBIRD_DOMAIN=46.224.228.253.sslip.io
NETBIRD_LETSENCRYPT_EMAIL=luanleitecardoso@gmail.com
NETBIRD_SETUP_NETWORK_CIDR=10.100.0.0/16
NETBIRD_OPENBAO_PORT=8200
NETBIRD_SERVER_IP=46.224.228.253
NETBIRD_SSH_PRIVATE_KEY=/Users/macbook/.ssh/id_ed25519
